<template>
  <div>
      <v-container
            fluid
            grid-list-xl
            class="pl-0 pr-0 mb-0 pb-0"
        > 
        <v-card
        color="#353535">
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <!-- <v-flex xs12 sm6 md6>
                        </v-flex> -->
                        <v-row>
                            <v-col md="4">
                                 <h4
                                class="text-color"
                                >
                            Be the first to know
                             </h4>
                              <p class="col-md-10 pl-0" style="letter-spacing: 1px">
                    Exceptional quality. Ethical factories. Sign up to enjoy free shipping
                    one return on your first order
                  </p>
                  <div class="content">
                    <form
                      class="form subscribe"
                      id="newsletter-validate-detail"
                    >
                      <div class="field newsletter">
                        <div class="control">
                          <input
                            name="email"
                            type="text"
                            id="newsletter"
                            placeholder="Enter your email address"
                          />
                        </div>
                      </div>
                    
                    </form>
                  </div>
                    </v-col>
                            <v-col md="2">
                                  <h4
                                class="text-color"
                                >
                            CUSTOMER
                            <ul>
                                <li class="li-color">NEW ARRIVALS</li>
                                <li class="li-color">NEW </li>
                                <li class="li-color">WOMEN</li>
                                <li class="li-color">KIDS</li>

                            </ul>
                             </h4>
                            </v-col>
                            <v-col md="2">
                                  <h4
                                class="text-color"
                                >
                            KNOW AS
                             </h4>
                               <ul>
                                <li class="li-color">NEW </li>
                                <li class="li-color">WOMEN</li>
                               <li class="li-color">KIDS</li>
                             <h4
                                class="text-color"
                                >
                            POLICIES
                             </h4>
                            </ul>
                            </v-col><v-col md="2">
                                  <h4
                                class="text-color"
                                >
                            REGISTERED ADDRESS
                             </h4>
                            </v-col>
                        </v-row>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-card>
      </v-container>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.text-color{
    color: white;
}
.li-color{
        font-size: 12px;
    list-style: none;
    color: gray;
    padding-left: 0px;
        padding-bottom: 6px;
}
</style>