<template>
  <div>
      <v-card
      color="grey lighten-4"
      flat
      tile
    >
    <v-toolbar dense>
      <v-img src="https://psm.greenhonchos.com/images-psm/logo.png"   max-height="160"
         max-width="160" style="background-color:primary"></v-img>
          <!-- {{this.$vuetify.theme.themes.light.primary }} -->

      <v-row class="ml-0">
          <v-spacer></v-spacer>

         <div class="text-center">
            <v-menu
                open-on-hover
                top
            >
                <template v-slot:activator="{ on }">
                <v-tabs align-with-title color="menuColor" hide-slider >
                    <v-tab v-on="on" class="ml-0">
                        NEW ARRIVALS
                    </v-tab>
                    <v-tab v-on="on" color="menuColor"> MEN</v-tab>
                    <v-tab color="menuColor">WOMEN</v-tab>
                    <v-tab>KIDS</v-tab>
                    <v-tab>ACCESSORIES</v-tab>
                    <v-tab>SALE</v-tab>

                    <v-tab v-on="on">BRANDS</v-tab>
                    <v-tab>OUR STORE</v-tab>

                </v-tabs>
                
                </template>
        
                <v-list>
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
                </v-list>
            </v-menu>
        </div>
      </v-row>
        
      <v-spacer></v-spacer>
      <v-btn icon >
        <v-icon class="header-icon" color="red">mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon >
        <v-icon class="header-icon" color="red">mdi-heart-outline</v-icon>
      </v-btn>
     
      <v-menu
        bottom
        left
        open-on-hover

      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon class="header-icon" color="red">mdi-account-outline</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
        <v-btn icon >
        <v-icon class="header-icon" color="red">mdi-basket-fill</v-icon>
      </v-btn>
    </v-toolbar>

  </v-card>
  </div>
</template>

<script>
export default {
    data(){
        return {
        clipped: false,
        drawer: false,
        fixed: false,
        btns: [
            ['Removed', '0'],
            ['Large', 'lg'],
            ['Custom', 'b-xl'],
        ],
       colors: ['deep-purple accent-4', 'error', 'teal darken-1'],
        items: [
            {
            icon: 'mdi-apps',
            title: 'Welcome',
            to: '/'
            },
            {
            icon: 'mdi-chart-bubble',
            title: 'Inspire',
            to: '/inspire'
            }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js'
         }
    }
}
</script>

<style scoped>

  .something {
    /* color: var(--v-primary-base) !important;  */
    /* backgro
    und-color: var(--v-accent-lighten2); */
  }
  .v-menu__content.theme--light.menuable__content__active {
    min-width: 912px;
    top: 49px !important;
    left: 200px;
  }
  
  .v-tab.v-tab {
      color:var(--v-menuColor-base) !important;
  }
  .header-icon{
      
  }
</style>