<template>
  <div>
  
    <v-carousel hide-delimiters>
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
      reverse=true
      cycle=true    
    ></v-carousel-item>
  </v-carousel>
        <v-container
            fluid
            grid-list-xl
        >   
            <v-layout justify-center align-center>
                <!-- <div class="display-1 text--primary mt-3">
                    SPECIAL OFFERS
                </div> -->
                  <h1 class="text--primary mt-3">
                    SPECIAL OFFERS
                </h1>
            </v-layout>
            <v-layout justify-center align-center class="pt-3 pb-3">
                <div class="justify-center align-center"> Popular specials for your unique </div>
            </v-layout>
            <v-layout wrap class="mt-3 mb-3">
                <v-flex xs12 sm6 md6>
                    <v-img src="https://psm.greenhonchos.com/images-psm/men-collection.png"></v-img>
                    <h3>MEN'S COLLECTION</h3>
                </v-flex>
                <v-flex xs12 sm6 md6>
                    <v-img src="https://psm.greenhonchos.com/images-psm/women-collection.png"></v-img>
                    <h3>WOMEN'S COLLECTION</h3>

                </v-flex>
            </v-layout>
            <v-layout wrap class="mt-3 mb-3 align-center" >
                <v-flex xs12 sm12 md12 style="background-color:black">
                    <div  justify-content-center>
                    <v-img class="mx-auto" style="background-position: center;" width="30%" src="https://psm.greenhonchos.com/images-mochi/limited-time-banner.png"></v-img>
                    </div>
                </v-flex>
            </v-layout>
            <div>
                <v-layout justify-center align-center class="mt-5 mb-5">
                    <div class="display-1 text--primary mt-3">
                        <h2>
                            SHOP BY TRENDS 
                        </h2>
                    </div>
                </v-layout>
                <v-layout justify-center align-center class="pt-3 pb-3">
                    <div class="justify-center align-center">Shop a fresh collection filled with comfort.Made to be warn all day,everyday,anytime & anywhere </div>
                </v-layout>
             <v-row justify="space-around" class="list" >
                 <ul style="display:inline-block; list-style:none">
                     <li >
                         <a class="active">Men</a>
                     </li>
                     <li>
                         <a>Women</a>

                     </li>
                     <li>
                         <a>Kids</a>

                     </li>
                 </ul>
             </v-row>
            <v-layout wrap class="mt-3 mb-3 ml-3 mr-3">
                <v-flex xs12 sm6 md3>
                    <v-img src="https://psm.greenhonchos.com/images-psm/men-party-d.png"></v-img>
                    <h3>PARTY SHOES</h3>
                </v-flex>
                <v-flex xs12 sm6 md3>
                    <v-img src="https://psm.greenhonchos.com/images-psm/men-sports-d.png"></v-img>
                    <h3>SPORTS SHOES</h3>

                </v-flex>
                <v-flex xs12 sm6 md3>
                    <v-img src="https://psm.greenhonchos.com/images-psm/men-casuals-d.png"></v-img>
                    <h3>CASUAL SHOES</h3>
                </v-flex>
                <v-flex xs12 sm6 md3>
                    <v-img src="https://psm.greenhonchos.com/images-psm/men-sandals-d.png"></v-img>
                    <h3>SANDALS</h3>

                </v-flex>
            </v-layout>
            </div>
            <v-layout wrap class="mt-3 mb-3 ml-3 mr-3">
                <v-flex xs12 sm12 md6 >
                    <v-card
                        class="mx-auto"
                        max-width="100%"
                        color="cardBackground"
                    >
                    <v-img
                        class="white--text align-end"
                        src="https://psm.greenhonchos.com/images-psm/so-much.jpg"
                     >
                    <v-card-title>Top 10 Australian beaches</v-card-title>
                    </v-img>
                    <v-card-text class="text--primary">
                        <div class="mt-5 mb-5">
                        <h1 style="text-align:center">SO. MUCH. NEW</h1>
                        </div>
                        <div> 
                            Shop a fresh collectrion filled with comfort.Made to worn all day, everyday anytime and anywhere.
                        </div>
                    </v-card-text>

                        <v-card-actions  style="display:block; text-align: center !important; padding-bottom:28px">
                
                            <v-btn
                                depressed
                                color="error"
                                width="30%"
                            >
                                Shop Men
                            </v-btn>
                            <v-btn
                                depressed
                                color="error"
                                width="30%"

                            >
                                Shop Women
                            </v-btn>
                    
                        </v-card-actions>
                    </v-card>
                </v-flex>
                <v-flex xs12 sm12 md6>
                    <v-card
                        class="mx-auto"
                        color="cardBackground"
                        max-width="100%"
                    >
                        <v-img
                        class="white--text align-end"
                        src="https://psm.greenhonchos.com/images-psm/kids-collection.png"
                        >
                    <v-card-title>Top 10 Australian beaches</v-card-title>
                    </v-img>
                     <v-card-text class="text--primary" >
                        <div class="mt-5 mb-5">
                        <h1 style="text-align:center">SO. MUCH. NEW</h1>
                        </div>
                        <div> 
                            Shop a fresh collectrion filled with comfort.Made to worn all day, everyday anytime and anywhere.
                        </div>
                    </v-card-text>
                    <v-card-actions   style=" display:block; text-align: center !important; padding-bottom:28px">
                
                            <v-btn
                                depressed
                                color="error"
                                width="30%"
                            >
                                SHOP BOY
                            </v-btn>
                            <v-btn
                                depressed
                                color="error"
                                width="30%"

                            >
                                SHOP GIRL
                            </v-btn>
                    
                        </v-card-actions>
               
                </v-card>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container
            fluid
            grid-list-xl
            class="pl-0 pr-0"
        >
        <v-card flat
            color="cardBackground"
            > 
            <div class="mt-4 card-padding">
            <v-card-text class="headline">
                <v-row class=" text-center d-block mt-4">
              ACCESSORIES</v-row>
            </v-card-text>

            <v-card-subtitle class=" text-center d-block pt-0">Listen to your favorite artists and albums whenever and wherever, online and offline.</v-card-subtitle>
            <v-row justify="space-around" class="list" >
                <ul style="display:inline-block; list-style:none">
                     <li >
                         <a class="active">Men</a>
                     </li>
                     <li>
                         <a>Women</a>

                     </li>
                </ul>
            </v-row>
            <v-layout wrap class="mt-3 mb-3 ">
                <v-flex xs12 sm6 md4 class="">
                    <v-img src="https://psm.greenhonchos.com/images-psm/belts.png"></v-img>
                    <h3>PARTY SHOES</h3>
                </v-flex>
               <v-flex xs12 sm6 md4 class="">
                    <v-img src="https://psm.greenhonchos.com/images-psm/wallet.png"></v-img>
                    <h3>PARTY SHOES</h3>
                </v-flex>
                <v-flex xs12 sm6 md4 class="">
                    <v-img src="https://psm.greenhonchos.com/images-psm/socks.png"></v-img>
                    <h3>PARTY SHOES</h3>
                </v-flex>
                
            </v-layout>
            </div>
        </v-card>
        </v-container>
        <v-container
            fluid
            grid-list-xl
            class="pl-6 pr-6"
            >
            <v-layout justify-center align-center>
                <div class="display-1 text--primary mt-3">
                    BEST DEALS
                </div>
            </v-layout>
            <v-layout wrap class="mt-3 mb-3 ">
                <v-flex xs12 sm6 md3 class="">
                    <v-img class="img-fluid" src="https://psm.greenhonchos.com/images-psm/ad-1.png"></v-img>
                </v-flex>
               <v-flex xs12 sm6 md3 class="">
                    <v-img class="img-fluid" src="https://psm.greenhonchos.com/images-psm/ad-2.png"></v-img>
                </v-flex>
                <v-flex xs12 sm6 md3 class="">
                    <v-img src="https://psm.greenhonchos.com/images-psm/ad-3.png"></v-img>
                </v-flex>
                  <v-flex xs12 sm6 md3 class="">
                    <v-img src="https://psm.greenhonchos.com/images-psm/ad-4.png"></v-img>
                </v-flex>
            </v-layout>
        </v-container>

        <!-- <v-container>
            <v-card flat class="mt-4">
                 <v-card-text class="headline">
                        <v-row class="text-center d-block mt-4 font-weight-black">
                         BEST DEALS</v-row>
            </v-card-text>
            </v-card>
        </v-container> -->
  </div>
</template>

<script>

export default {
    data(){
          return {
              selectedItem:0,
        items: [
          {
            src: 'https://psm.greenhonchos.com/images-psm/1.jpg',
          },
          {
            src: 'https://psm.greenhonchos.com/images-psm/2.jpg',
          },
          
        ],
        listItems: [
      { text: 'Real-Time', icon: 'mdi-clock' },
      { text: 'Audience', icon: 'mdi-account' },
      { text: 'Conversions', icon: 'mdi-flag' },
    ],
      }
    }

}
</script>
<style >
/* @import '/home/prachi/kartmax/node_modules/vuetify/src/styles/styles.sass' */
</style>
<style scoped>

/* .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    display: inline-block;
    color: rgba(0, 0, 0, 0.87) !important;
} */
.row.list.justify-space-around ul li a {
    border-radius: 50px;
    width: 146px;
    display: block;
    height: 46px;
    line-height: 46px;
    border: 0px;
    background: #eaeaea;
    color: #000;
    text-align: center;
}
.row.list.justify-space-around ul li a.active {
    background: red;
    color: white;
}

.row.list.justify-space-around ul li {
    display: inline-block;
    padding: 12px;
}
.card-padding{
    padding-left: 8%;
    padding-right: 8%;
}
</style>