// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 30px;
//  $body-font-family: 'Work Sans', serif;
//  $border-radius-root: 0px;
// $font-size-root: 14px !important;

//  $btn-letter-spacing: 0;
// $btn-font-weight: 400;
// $list-item-title-font-size: 0.929rem;
// $list-item-dense-title-font-size: 0.929rem;
// $list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  'small': 20
);
// $btn-sizes: (
//   'default': 41,
//   'large': 54
// );
@import '~vuetify/src/styles/styles.sass';

// $headings: map-merge($headings, (
//         'h1': map-merge(
//             map-get($headings, 'h1'),
//             (
//                 'font-size': 4rem,
                    
//             )
//         ),
//     )
// )

$headings: (
  'h1': (
    'font-size': 4rem
  )
);
