<template>
 <v-app id="inspire">
   <Header/>
   <Home/>
   <Footer/>
</v-app>
</template>

<script>
import Header from '../components/Header.vue'
import Home from '../components/Home.vue'
import Footer from '../components/Footer.vue'


  export default {
  components: { Header,Home,Footer  },
    data: () => ({
       hover: false,
      items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' },
      ],
    }),
  }
</script>
</template>

<script>
import Header from '../components/Header'
export default {
   components: {
     Header
    // VuetifyLogo
  },
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
       btns: [
        ['Removed', '0'],
        ['Large', 'lg'],
        ['Custom', 'b-xl'],
      ],
       colors: ['deep-purple accent-4', 'error', 'teal darken-1'],
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  }
}
</script>
<style scoped>

  .v-menu__content.theme--light.menuable__content__active {
    min-width: 915px;
    top: 49px !important;
    left: 200px;
  }
</style>